@charset "UTF-8";
/* Mi enfoque es "Mobile first", pero esto no implica que el diseño móvil deba tener más atención y detalles que el diseño de escritorio; 
de hecho, le otorgo prioridad en cuanto a detalles al diseño de escritorio.*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #d1d1d1; }
  @media (min-width: 768px) {
    body {
      margin-left: 15%;
      margin-right: 15%; } }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.semicircle {
  position: relative;
  background: #fff;
  height: 22.2vh; }
  .semicircle::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px; }

.semicircle-second {
  background: #ef233c;
  height: 10vh; }

.spikes {
  position: relative;
  background: #2c3e5000;
  height: 13vh; }
  .spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 50px;
    background-size: 50px 100%;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
    background-position: 0 0; }

.subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  position: relative;
  z-index: 111; }

.greenbig {
  -webkit-appearance: none;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  background-position: -1px -1px;
  background-repeat: repeat no-repeat;
  background-size: 110% 110%;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  outline: none;
  position: relative;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .greenbig:hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
    background-position: -.5em center;
    border-color: rgba(27, 31, 35, 0.5);
    outline: 0; }

header {
  position: relative;
  z-index: 99;
  padding-left: 0rem; }
  @media (min-width: 768px) {
    header {
      height: 7rem;
      margin-top: 1rem;
      /*Exclusivamente para que sobrepase el ribbon.*/
      /* Ajusta el ancho y los márgenes izquierdo y derecho */
      width: calc(100% + 4rem);
      /* Ancho aumentado en 4rem (2rem a cada lado) */
      margin-left: -2rem;
      /* Margen izquierdo reducido en 2rem */
      margin-right: -2rem;
      /* Margen derecho reducido en 2rem */ } }
  header .header_logo {
    display: flex;
    flex-direction: row;
    width: 5rem;
    min-width: 65px;
    margin-left: 15px; }
    header .header_logo p {
      display: none; }
    @media (min-width: 768px) {
      header .header_logo {
        width: 35rem; }
        header .header_logo img {
          width: 6.5rem; }
        header .header_logo p {
          color: #fff;
          display: flex;
          align-items: center;
          margin-left: 10px;
          font-weight: 200; } }
    @media (min-width: 1366px) {
      header .header_logo p {
        font-size: 2rem; } }
    @media (max-width: 925px) {
      header .header_logo p {
        visibility: hidden; } }
  header .header_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    header .header_nav .header_nav-item {
      visibility: hidden;
      font-weight: 300; }
      @media (min-width: 768px) {
        header .header_nav .header_nav-item {
          visibility: visible; } }
    header .header_nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      margin-right: 1rem; }
      header .header_nav ul .burger-menu {
        position: absolute;
        right: -1rem;
        top: 0rem;
        font-size: 2rem; }
        @media (min-width: 768px) {
          header .header_nav ul .burger-menu {
            visibility: hidden; } }
      header .header_nav ul li {
        display: flex;
        justify-content: center;
        padding: 0rem 0rem 0rem 0rem;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        height: 100%;
        width: 140px;
        /* Usa flexbox para alinear verticalmente el contenido */
        display: flex;
        align-items: center;
        /* Alinea el contenido verticalmente en el centro */ }
        header .header_nav ul li a {
          color: white; }
        @media (min-width: 768px) {
          header .header_nav ul li:hover {
            background-color: #ac042b;
            transition: all .3s; } }
        @media (min-width: 1366px) {
          header .header_nav ul li {
            font-size: 18px; } }

.ribbon-container {
  background: transparent !important;
  position: relative;
  z-index: 1; }

.ribbon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ef233c; }
  @media (min-width: 768px) {
    .ribbon {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); } }

.ribbon-content:before,
.ribbon-content:after {
  content: ''; }
  @media (min-width: 768px) {
    .ribbon-content:before,
    .ribbon-content:after {
      display: block;
      position: absolute;
      border-style: solid;
      border-color: #d80032 transparent transparent transparent;
      bottom: -15px;
      box-shadow: 0 2px 4px rgba(1, 1, 1, 0); } }

.ribbon-content:before {
  left: 0;
  border-width: 0.99em 0 0 1.34em; }

.ribbon-content:after {
  right: 0;
  border-width: .99em 1.34em 0 0; }

main {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    main {
      /*Exclusivamente para que sobrepase el ribbon.*/
      position: relative;
      bottom: 10rem; } }

.bottom-banner {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 4rem;
  margin: 0 15%; }
  @media (min-width: 768px) {
    .bottom-banner {
      display: flex; } }
  .bottom-banner a {
    display: block;
    text-decoration: none;
    /* Elimina el subrayado del enlace si no se desea */ }
    .bottom-banner a:nth-child(2) img {
      width: 370px;
      /* Estilos adicionales para la segunda imagen si es necesario */ }
  .bottom-banner img {
    width: 200px;
    /* Set your desired width */
    object-fit: cover;
    /* This property will ensure the image covers the specified dimensions */ }

.home-section {
  padding: .45rem; }
  .home-section .subtitle {
    margin: 2rem; }
  @media (min-width: 768px) {
    .home-section {
      display: grid;
      grid-template-columns: 70% 30%;
      padding-top: 12rem; }
      .home-section .subtitle {
        display: none; } }
  .home-section .column {
    padding: 0px;
    position: relative;
    z-index: 111;
    /* Agrega esta línea para posicionar el figcaption relativo a este contenedor */ }
    @media (min-width: 768px) {
      .home-section .column {
        padding: 5px;
        padding-left: 0px; } }
    .home-section .column:last-child {
      height: 100px; }
      @media (min-width: 768px) {
        .home-section .column:last-child {
          height: 350px;
          /*Tamanio de la columna derecha.*/ } }

.highlight {
  position: relative;
  z-index: 0;
  margin-bottom: 5px; }
  @media (min-width: 768px) {
    .highlight {
      margin-left: 5px;
      margin-bottom: 0px; } }
  .highlight figcaption {
    width: 70%; }

.column-image-highlight {
  height: 350px;
  /* Alto del contenedor highlight, igual al de la columna derecha*/
  overflow: hidden; }
  .column-image-highlight img {
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px; }
    @media (min-width: 768px) {
      .column-image-highlight img {
        border-radius: 0px; } }

.thumbnails {
  width: calc(100% + 5px); }
  @media (max-width: 768px) {
    .thumbnails {
      overflow-y: hidden;
      white-space: nowrap;
      /* Impide que los elementos se rompan en varias líneas */
      overflow-x: scroll;
      /* Agrega una barra de desplazamiento horizontal */ } }
  @media (min-width: 768px) {
    .thumbnails {
      width: 100%; } }
  .thumbnails .thumbnails_image-overlay {
    background-color: rgba(0, 128, 0, 0);
    height: 100%;
    /* Altura de los thumbnails debajo */ }
    @media (min-width: 768px) {
      .thumbnails .thumbnails_image-overlay {
        height: 34.3%;
        /* Altura de los thumbnails en la derecha */ } }
    .thumbnails .thumbnails_image-overlay img {
      width: 100%;
      max-height: 100%;
      height: calc(100% + 115px);
      object-fit: cover;
      /* Esto hará que la imagen ocupe todo el contenedor sin distorsionarse */
      border-radius: 5px; }
      @media (min-width: 768px) {
        .thumbnails .thumbnails_image-overlay img {
          border-radius: 0px; } }

.thumbnails_image-overlay {
  position: relative;
  display: inline-block;
  /* Alinea los elementos en línea */
  width: 75%; }
  @media (min-width: 768px) {
    .thumbnails_image-overlay {
      display: block;
      float: left;
      width: 100%; } }

.overlay {
  position: absolute;
  /* Coloca el elemento en posición absoluta con respecto al contenedor padre */
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 0px 0px 0px 5px; }
  @media (min-width: 768px) {
    .overlay {
      border-radius: 0px; } }

figcaption.overlay {
  bottom: 10px; }

.games-section {
  background-color: #ef233c; }
  .games-section .subtitle {
    position: relative;
    bottom: 14vh; }

.games-section_releases {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 1200px) {
    .games-section_releases {
      display: block; }
      .games-section_releases div:nth-child(even) {
        float: right; }
      .games-section_releases div:nth-child(odd) {
        float: left; } }
  .games-section_releases .games-section_releases-item {
    display: grid;
    max-width: 26rem;
    margin: 1rem;
    padding: 15px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra elegante */ }
    @media (min-width: 1200px) {
      .games-section_releases .games-section_releases-item {
        grid-template-columns: 20% 80%;
        width: 50%;
        max-width: 100%; } }
  @media (min-width: 1200px) and (max-width: 1600px) {
    .games-section_releases .games-section_releases-item {
      grid-template-columns: 30% 70%; } }
    .games-section_releases .games-section_releases-item img {
      height: 100%;
      border-radius: 5px; }
    .games-section_releases .games-section_releases-item div:nth-child(2) {
      margin-top: 15px; }
      @media (min-width: 768px) {
        .games-section_releases .games-section_releases-item div:nth-child(2) {
          margin-top: 0px;
          margin-left: 15px; } }
    .games-section_releases .games-section_releases-item button {
      margin-top: 15px;
      padding: 1rem;
      font-size: 15px; }
      @media (min-width: 768px) {
        .games-section_releases .games-section_releases-item button {
          font-size: 12px;
          padding: 5px;
          margin-top: 5px; }
          .games-section_releases .games-section_releases-item button span {
            margin-left: 5px; } }

.clearfix {
  clear: both; }

.news-section {
  padding: 15px;
  margin-top: 2rem; }
  .news-section .subtitle {
    margin-top: 1.5rem;
    margin-bottom: 2rem; }

.news-section_news {
  display: grid;
  grid-template-columns: 100%; }
  @media (min-width: 1200px) {
    .news-section_news {
      grid-template-columns: 70% 30%; } }
  .news-section_news .news-section_highlight {
    background-color: #e6e6e6c5;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 100%;
    margin: 0px; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .news-section_news .news-section_highlight {
        margin: 0px 15%;
        grid-template-columns: 100%; } }
    @media (min-width: 1200px) {
      .news-section_news .news-section_highlight {
        grid-template-columns: 35% 65%; } }
    .news-section_news .news-section_highlight > div {
      padding: 15px; }
      @media (min-width: 1200px) {
        .news-section_news .news-section_highlight > div {
          margin-left: 10px; } }
    .news-section_news .news-section_highlight img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px; }
    .news-section_news .news-section_highlight .greenbig {
      padding: 10px;
      margin-top: 10px;
      background-color: #2a28a7;
      background-image: linear-gradient(-180deg, #3485d0, #283ba7 90%); }
  .news-section_news .news-section_thumbnails {
    margin-top: 10px; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .news-section_news .news-section_thumbnails {
        margin: 0px 15%;
        grid-template-columns: 100%; } }
    @media (min-width: 1200px) {
      .news-section_news .news-section_thumbnails {
        margin: 0;
        grid-template-columns: 35% 65%; } }
    .news-section_news .news-section_thumbnails > div {
      border-radius: 5px;
      background-color: #e6e6e6c5;
      padding: 15px;
      margin-bottom: 5px; }
      .news-section_news .news-section_thumbnails > div:last-child {
        margin-bottom: 0; }
      @media (min-width: 1200px) {
        .news-section_news .news-section_thumbnails > div {
          margin-left: 5px; } }
      .news-section_news .news-section_thumbnails > div .greenbig {
        margin-top: 5px;
        padding: 3px 5px;
        background-color: #2a28a7;
        background-image: linear-gradient(-180deg, #3485d0, #283ba7 90%); }

.contact-section {
  background-color: #ef233c;
  padding-bottom: 2rem; }
  .contact-section .subtitle {
    padding-top: 4rem;
    color: #fff; }
  .contact-section .icon-button {
    position: relative;
    bottom: 1px;
    display: inline;
    vertical-align: bottom; }

.contact-form {
  color: #fff;
  margin: 10%;
  margin-top: 5%; }
  .contact-form .contact-form {
    max-width: 600px;
    margin: auto;
    padding: 20px; }
  .contact-form label {
    display: block;
    margin-bottom: 8px; }
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box; }
  .contact-form button:hover {
    background-color: #45a049; }
  .contact-form .greenbig {
    padding: 10px 15px; }
