// _reset.scss

// Establece los márgenes y el relleno en 0 y elimina los bordes en todos los elementos
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



// Establece el estilo de fuente a nivel global
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    background-color: rgb(209, 209, 209);

    @media (min-width: $screen-md) {
        margin-left: 15%;
        margin-right: 15%;
    }
}

section{
   
}


// Elimina la lista de estilos de viñetas en listas no ordenadas
ul {
    list-style: none;
}

// Elimina la decoración de enlaces
a {
    text-decoration: none;
}

// Define estilos para la imagen para que no afecte el diseño
img {
    max-width: 100%;
    height: auto;
}

// Otros estilos globales según tus necesidades