// _reset.scss
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    background-color: rgb(209, 209, 209);

    @media (min-width: $screen-md) {
        margin-left: 15%;
        margin-right: 15%;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

// Otros estilos globales 

main {
    position: relative;
    bottom: 10rem;
    /*Exclusivamente para que sobrepase el ribbon.*/

    background-color: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
