header {
    position: relative;
    z-index: 99;
    padding-left: 0rem;

    @media (min-width: $screen-md) {
        height: 7rem;
        width: calc(100% + 4rem);
        margin-top: 1rem;
        margin-left: -2rem;
        margin-right: -2rem;
    }

    & .header_logo {
        display: flex;
        flex-direction: row;
        width: 5rem;
        min-width: 65px;
        margin-left: 15px;

        position: absolute;
        left: 0rem;

        & p {
            display: none;
        }

        @media (min-width: $screen-md) {
            position: static;

            & img {
                width: 6.5rem;
            }

            width: 35rem;

            & p {
                color: $color-2;
                display: flex;
                align-items: center;
                margin-left: 10px;
                font-weight: 200;
            }
        }

        @media (min-width: 1366px) {
            p {
                font-size: 2rem;
            }
        }

        @media (max-width: 925px) {
            p {
                visibility: hidden;
            }
        }
    }

    & .header_nav {
        @media (min-width: $screen-md) {
            display: flex;
            align-items: center;
            margin-right: 1.7rem;
        }

        .header_nav-item {
            font-weight: 300;

            @media (min-width: $screen-md) {
                visibility: visible;
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding-top: 5rem;
            overflow: hidden;

            height: 100%;

            @media (min-width: $screen-md) {
                padding-top: 0;
                flex-direction: row;
            }

            li {
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0 0 2rem 0;
                padding: 0 .5rem;
                cursor: pointer;
                text-align: center;
                display: flex;
                align-items: center;

                a {
                    color: white;
                    display: block;
                }

                @media (min-width: $screen-md) {
                    margin: 0; //no quitar
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    cursor: pointer;
                    list-style-type: none;

                    &:hover {
                        background-color: #ac042b;
                        transition: all .3s;
                    }
                }

                @media (min-width: 1366px) {
                    font-size: 18px;
                }
            }
        }
    }
}

.burger-menu {
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    font-size: 2rem;
    list-style: none;

    a {
        color: white;
    }

    @media (min-width: $screen-md) {
        visibility: hidden;
    }
}

.ribbon-container {
    background: transparent !important;
    position: relative;
    z-index: 1;
}

.ribbon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 5rem;
    max-height: 5rem;
    overflow: hidden;
    background-color: #ef233c;

    @media (min-width: $screen-md) {
        max-height: 100% !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    }
}

.ribbon.active {
    max-height: 50rem;
    transition: max-height 0.5s ease-in-out;

    @media (min-width: $screen-md) {
        max-height: 100% !important;
    }
}

.ribbon-content:before,
.ribbon-content:after {
    content: '';

    @media (min-width: $screen-md) {
        display: block;
        position: absolute;
        border-style: solid;
        border-color: #d80032 transparent transparent transparent;
        bottom: -15px;
        box-shadow: 0 2px 4px rgba(1, 1, 1, 0);
    }
}

.ribbon-content:before {
    left: 0;
    border-width: 0.99em 0 0 1.34em;
}

.ribbon-content:after {
    right: 0;
    border-width: .99em 1.34em 0 0;
}