.header_nav-item {
    visibility: hidden;
    visibility: visible;
}

.header_nav.active .header_nav-item {
    visibility: visible;

}


header {
    position: relative;
    z-index: 99;
    padding-left: 0rem;

    @media (min-width: $screen-md) {
        height: 7rem;
        //Evita que pantallas pequenias tengan estas propiedades exclusivas para monitores.
        margin-top: 1rem;
        /*Exclusivamente para que sobrepase el ribbon.*/
        /* Ajusta el ancho y los márgenes izquierdo y derecho */
        width: calc(100% + 4rem);
        /* Ancho aumentado en 4rem (2rem a cada lado) */
        margin-left: -2rem;
        /* Margen izquierdo reducido en 2rem */
        margin-right: -2rem;
        /* Margen derecho reducido en 2rem */
    }

    & .header_logo {
        display: flex;
        flex-direction: row;
        width: 5rem;
        min-width: 65px;
        margin-left: 15px;

        position: absolute;
        left: 0rem;

        & p {
            display: none;
        }

        @media (min-width: $screen-md) {
            position: static;

            & img {
                width: 6.5rem;
            }

            width: 35rem;

            & p {
                color: $color-2;
                display: flex;
                align-items: center;
                margin-left: 10px;
                font-weight: 200;
            }
        }

        @media (min-width: 1366px) {
            p {
                font-size: 2rem;
            }
        }

        @media (max-width: 925px) {
            p {
                visibility: hidden;
            }
        }
    }

    & .header_nav {
        .header_nav-item {
            visibility: hidden;
            font-weight: 300;

            @media (min-width: $screen-md) {
                visibility: visible;
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
           
            

            padding-top: 5.5rem;
            height: 0; //Burguer menu js

            @media (min-width: $screen-md) {
                padding-top: 0;
                flex-direction: row;
                height: 100% !important; // Asegúrate de que esta regla anule las definiciones anteriores              
            }



            li {
                margin-bottom: 1rem;
                margin-right: 1.5rem;

                padding: 1rem;

                width: 100vw;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                
                cursor: pointer;
                a {
                    color: white;
                }

                /* Alinea el contenido verticalmente en el centro */
                margin-right: 2.5rem;

                @media (min-width: $screen-md) {
                    width: 10rem;
                    height: 100%;
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    cursor: pointer;


                    display: inline-flex;
                    list-style-type: none;

                    margin: 0px;
                    padding: 0px;
                    text-align: center;

                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: #ac042b;
                        transition: all .3s;
                    }

                    a{
                      
                       padding: 0;
                    }
                }

                @media (min-width: 1366px) {
                    font-size: 18px;
                }
            }
        }
    }
}





.burger-menu {

    position: absolute;
    right: 1rem;
    top: 1.3rem;
    font-size: 2rem;
    list-style: none;

    a {
        color: white;
    }

    @media (min-width: $screen-md) {
        visibility: hidden;
    }

}

.ribbon-container {
    background: transparent !important;
    position: relative;
    z-index: 1;
}

.ribbon {

    min-height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ef233c;

    @media (min-width: $screen-md) {
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    }
}

.ribbon-content:before,
.ribbon-content:after {
    content: '';

    @media (min-width: $screen-md) {
        //Evita que pantallas pequenias tengan estas propiedades exclusivas para monitores.
        display: block;
        position: absolute;
        border-style: solid;
        border-color: #d80032 transparent transparent transparent;
        bottom: -15px;
        box-shadow: 0 2px 4px rgba(1, 1, 1, 0);
    }
}

.ribbon-content:before {
    left: 0;
    border-width: 0.99em 0 0 1.34em;
}

.ribbon-content:after {
    right: 0;
    border-width: .99em 1.34em 0 0;
}