header {
    position: relative;
    height: 7rem;
    padding-left: 0rem;


    @media (min-width: $screen-md) {
        //Evita que pantallas pequenias tengan estas propiedades exclusivas para monitores.
        margin-top: 1rem;
        /*Exclusivamente para que sobrepase el ribbon.*/
        /* Ajusta el ancho y los márgenes izquierdo y derecho */
        width: calc(100% + 4rem);
        /* Ancho aumentado en 4rem (2rem a cada lado) */
        margin-left: -2rem;
        /* Margen izquierdo reducido en 2rem */
        margin-right: -2rem;
        /* Margen derecho reducido en 2rem */
    }


    & .header_logo {
        display: flex;
        flex-direction: row;
        width: 5rem;
        min-width: 65px;
        margin-left: 15px;
        
        & p{
            display: none;
        }

        @media (min-width: $screen-md) {
            & img{
                width: 6.5rem;
            }   
            width: 50rem;
            & p {
                color: $color-2;
                display: flex;
                align-items: center;
                margin-left: 10px;
                font-weight: 200;
                font-size: 2rem;
            }
        }
    }

    & .header_nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
       
        .header_nav-item {
            visibility: hidden;
            font-weight: 300;
            @media (min-width: $screen-md) {
                visibility: visible;
            }
        }

        ul {

            list-style: none;
            padding: 0;
            display: flex;
            align-items: center;

            & .burger-menu {
                position: absolute;
                right: -1rem;
                top: -1.3rem;

                font-size: 2rem;

                @media (min-width: $screen-md) {
                    visibility: hidden;
                }
            }

            li {

                margin-right: 2rem;
                padding: 0 1rem 0 1rem;

                color: white;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;

                height: 100%;
                font-size: 18px;

                /* Usa flexbox para alinear verticalmente el contenido */
                display: flex;
                align-items: center;

                /* Alinea el contenido verticalmente en el centro */
                &:hover {
                    background-color: #ac042b;
                    transition: all .3s;
                }
            }
        }
    }
}


.ribbon-container {
    background: transparent !important;

    position: relative;
    z-index: 1;
}

.ribbon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #ef233c;

    @media (min-width: $screen-md) {
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    }

}

.ribbon-content:before,
.ribbon-content:after {
    content: '';

    @media (min-width: $screen-md) {
        //Evita que pantallas pequenias tengan estas propiedades exclusivas para monitores.
        display: block;
        position: absolute;
        border-style: solid;
        border-color: #d80032 transparent transparent transparent;
        bottom: -15px;

        box-shadow: 0 2px 4px rgba(1, 1, 1, 0);
    }
}

.ribbon-content:before {
    left: 0;
    border-width: 0.99em 0 0 1.34em;
}

.ribbon-content:after {
    right: 0;
    border-width: .99em 1.34em 0 0;
}